<div class="featurette-top">
    <h2 class="featurette-heading">Crae Sosa</h2>
</div>
<hr class="featurette-divider">
<div class="featurette">
    <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/u/2606800/prof.png">
    <h2 class="featurette-heading"><span class="muted">{Entrepreneur, Software Architect, Tie-Wearer }</span></h2>
    <p class="lead"> </br> Hi there!  My name is Crae Sosa.  I enjoy designing and architect-uring(???) computer software on several different languages and platforms. I like to think of myself as someone with the spirit of an entrepreneur although sometimes it's misinterpreted as the plights of a delusional engineer in search of food.  My idea of having fun is tirelessly working on my computer thinking of what it might be like to have fun.  But if I genuinely thought that were true I never would have pursued computer software.  2 truths and a lie bitch.  HIRE ME.  Oh yes have you seen my website?  No?  Why not check it out! 
        <br>
        Languages: Java & Android Development, Javascript & Node, Express, Angular, Bootstrap, Jquery Development,
        Objective C & IOS Development, MATLAB, Python, C, C++, HTML, CSS, KML, XML, NCL
    <h1>Coded in Javascript/HTML/CSS using Node,Express,Angular, & Bootstrap</h1></p>
</div>