
      <div class="featurette-top">
        <h2 class="featurette-heading">Crae Sosa</h2>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/u/2606800/prof.png" >
        <h2 class="featurette-heading"><span class="muted">{Engineer, Computer Scientist, Tiger Trainer}</span></h2>
        <p class="lead"> </br> My name is Crae Sosa.  I am a computer scientist ...
        <br>
        Languages: Java & Android Development, Javascript & Node, Express, Angular, Bootstrap, Jquery Development, Objective C & IOS Development 
        MATLAB, Python, C, C++, HTML, CSS, KML, XML, NCL
        <h1>Coded in Node,Express,Angular</h1></p>
      </div>