      <!-- START THE FEATURETTES -->

      <style>
    /* Featurettes
    ------------------------- */

    .featurette-top {

      padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }

    .featurette-divider {
      margin: 0px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {

      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
      </style>


      <div class="featurette-top">
        <h2 class="featurette-heading">Work</h2>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/u/2606800/2013-07-22%2019.31.06.png" height=640px width=350px>
        <h2 class="featurette-heading">Park As Pharmacy. <span class="muted">A leaf identification app for Android.</span></h2>
        <p class="lead">This app was developed in parternship with Rena Lee, a student at Parsons School of Design.  The app allows you to input leaf characteristics to identify different species of plants, and search leaves by medicinal properties.  </br> <h1>Coded in Java + XML + SQLite.</h1></p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="https://dl.dropboxusercontent.com/u/2606800/2013-05-03_00-31-45.png"height=640px width=350px>
        <h2 class="featurette-heading">CCNY Mobile. <span class="muted">A Student and Alumni App for Android.</span></h2>
        <p class="lead">This app was developed for the City College of New York.  The app is a basic , including news, a directory, course schedule and a map.  The map interfaces with NextBus in order to provide real-time shuttle bus locations + predictions.</br> <h1>Coded in Java + XML.</h1></p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://aozora.github.io/bootplus/assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->