<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="description" content="Seamless information exchange.">
    <title>Blue Canary</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100%7COpen+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<style text = "text/css">
    #signup{
        height: 500px;
    }
</style>
<!--[if lt IE 9 ]>
<body id="homepage" class="lt-ie9" data-spy="scroll" data-target="#header"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<body id="homepage" data-spy="scroll" data-target="#header"><!--<![endif]-->
<div id="header">
    <div class="wrapper clearfix">
        <h1 id="bluecanary_header"> 
<!--             <a href="/">
                <img alt="bluecanary_logo" src="" title="bluecanary" />
            </a> -->
        </h1>
        <ul class="nav">
            <li>
                <a href="#this-is-bluecanary">Blue Canary</a>
            </li>
            <li>
                <a href="#why">Why?</a>
            </li>
            <li>
                <a href="#our-app">The app</a>
            </li>
            <li>
                <a href="#community">Community</a>
            </li>
        </ul>
    </div>
</div>

<div id="this-is-bluecanary">
    <div class="wrapper clearfix">
        <div id="backing">
            <div class="value">
                <h2>Blue Canary</h2>
            </div>
            <div class="preorder">
                <p> Seamless Information Exchange.</p></br>
<!--                 <div>
                    <input class="span3" placeholder = "Email"></input>
                    <button type="button" class="button button-rounded button-flat-primary">Subscribe!</button>
                </div> -->
            </div>
        </div>
        <div id="play">
            <div class="video">
                <iframe src="http://www.youtube.com/embed/JduEjnGpmXA" width="600" height="350" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
<!--             <ul class="social clearfix">
                <li>
                    <a href="#" class="twitter-share">
                        <img alt="Share_twitter"
                             src="http://d1ttvm38ivlpk0.cloudfront.net/assets/share_twitter-ff9ae1359c7a572083524430e9cc2cb2.png"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="facebook-share">
                        <img alt="Share_facebook"
                             src="http://d1ttvm38ivlpk0.cloudfront.net/assets/share_facebook-6ef37f328a1cc3d9e7e7e403bf5d0969.png"/>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<div>
    <iframe scrolling = "no" height = "240px" style = "width:100%" class = "signup" src="http://bluecanary.launchrock.com"></iframe>
</div>

<div class="big_wrapper" id="why">
    <div class="wrapper">
        <div class="center">
            <h3>
                The business card, fliers, QR Code Melieu.
            </h3>
            <ul class="clearfix">
                <li class="feature2">
                    <img src = " images/icons/flier_icon.jpg"></img>
                    <h4>Fliers</h4>
                    <p>Fliers don't often get the <br> information  across.</p>
                </li>
                <li class="feature1">
                    <img src = " images/icons/business_card_icon.jpg"></img>
                    <h4>Business Cards.</h4>
                    <p>Business card realtionships are seldom meaningful, we lose them, we forget who they are and why we talked to them. </p>
                </li>
                <li class="feature3">
                    <img src = " images/icons/qr_icon.jpg"></img>
                    <h4>QR codes</h4>
                    <p>Let's face it, holding up a phone and trying to get information is silly.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="big_wrapper" id="our-app">
    <div class="wrapper clearfix">
        <div class="point_copy">
            <h3>
                Exchange information<br>seamlessly.
            </h3>
            <p>
                Blue Canary makes it easy to send and receive information to those around you.
            </p>
            <ul>
                <li>
                    <h4 class="more">1.&nbsp; &nbsp;Scan</h4>
                    <p>Use the app to instantly scan for canary's<br>within 150 feet.</p>
                </li>
                <li>
                    <h4 class="sharing">2.&nbsp; &nbsp; Browse</h4>
                    <p>Browse through people or<br> businesses you want to connect with.</p>
                </li>
                <li>
                    <h4 class="sound">3.&nbsp; &nbsp; Add</h4>
                    <p>Add people to your social networks or connect <br> with businesses instantly.  No need for business cards!</p>
                </li>
            </ul>
        </div>
        <div class="app">
            <img alt="App" src="http://d1ttvm38ivlpk0.cloudfront.net/assets/app-1ab40165b8256fbf38fd77e2b8241040.jpg"
                 title=""/>
            <div class="video_holder">
                <img src="images/image1BC.png" width="283" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></img>
            </div>
        </div>
    </div>
</div>
<div class="big_wrapper" id="community">
    <div class="wrapper">
        <h3>Building a community</h3>
        <p>Join us!</p>
    </div>
</div>

<div class="big_wrapper" id="shipping">
    <div class="wrapper clearfix">
        <div class="ships">
            <h2>Launching 2014</h2>
        </div>
    </div>
</div>

<div class="footer">
    <div class="wrapper clearfix">
        <ul class="clearfix">
            <li>
                &copy; 2013 Blue Canary
            </li>
        </ul>
    </div>
</div>
<script src="js/lib/lib.js"></script>
</body>
</html>