<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="description" content="Seamless information exchange.">
    <title>Blue Canary</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100%7COpen+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<!--[if lt IE 9 ]>
<body id="homepage" class="lt-ie9" data-spy="scroll" data-target="#header"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<body id="homepage" data-spy="scroll" data-target="#header"><!--<![endif]-->
<div id="header">
    <div class="wrapper clearfix">
        <h1 id="tile_header">
            <a href="/">
                <!-- <img alt="Tile_logo" src="http://d1ttvm38ivlpk0.cloudfront.net/assets/tile_logo-1c7f08aac75a00b1bed9cf83f0d5112f.png" title="Tile" /> -->
            </a>
        </h1>
        <ul class="nav">
            <li>
                <a href="#this-is-tile">Blue Canary</a>
            </li>
            <li>
                <a href="#why">Why?</a>
            </li>
            <li>
                <a href="#our-app">The app</a>
            </li>
            <li>
                <a href="#community">Community</a>
            </li>
<!--             <li>
                <a href="#features">Features</a>
            </li> -->
            <!--       <li class="last">
                    <a href="#faq">FAQ</a>
                  </li> -->
        </ul>
    </div>
</div>

<div id="this-is-tile">
    <div class="wrapper clearfix">
        <div id="backing">
            <div class="value">
                <h2>Blue Canary</h2>
            </div>
            <div class="preorder">
                <p> Seamless Information Exchange.</p></br>
<!--                         <p>Stay up to date!</p>
                        <input placholder="Email"></input><br>
                        <button text = "Submit">Submit</button> -->
            </div>
        </div>
        <div id="play">
            <div class="video">
                <!--Where we put our youtube video -->
                <iframe src="http://www.youtube.com/embed/JduEjnGpmXA" width="528" height="297" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <ul class="social clearfix">
                <li>
                    <a href="#" class="twitter-share">
                        <img alt="Share_twitter"
                             src="http://d1ttvm38ivlpk0.cloudfront.net/assets/share_twitter-ff9ae1359c7a572083524430e9cc2cb2.png"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="facebook-share">
                        <img alt="Share_facebook"
                             src="http://d1ttvm38ivlpk0.cloudfront.net/assets/share_facebook-6ef37f328a1cc3d9e7e7e403bf5d0969.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="big_wrapper" id="seen_on">
    <div class="wrapper">
        <ul class="clearfix">
            <li class="tc"><a href="http://techcrunch.com/2013/06/20/tile/"></a></li>
            <li class="zdnet"><a
                    href="http://www.zdnet.com/bluetooth-tile-allows-you-to-find-lost-keys-bikes-dogs-anything-really-7000017151/"></a>
            </li>
            <li class="tomac"><a
                    href="http://9to5mac.com/2013/06/20/tile-gadget-that-lets-you-trackfind-lost-items-via-crowd-sourcing-iphone-app/"></a>
            </li>
            <li class="tuaw"><a
                    href="http://www.tuaw.com/2013/06/20/tile-crowdfunding-a-community-driven-device-to-keep-track-of-yo/"></a>
            </li>
            <li class="tnw last"><a
                    href="http://thenextweb.com/insider/2013/06/20/reveal-labs-launches-a-20k-crowdfunding-campaign-for-its-tile-bluetooth-device-to-find-lost-items/"></a>
            </li>
        </ul>
    </div>
</div> -->
<!-- <div class="carousel-container" id="on-the-go">
    <div class="wrapper">
        <div class="info">
            <div>
                <h3>Blue Canary goes where you go.</h3>
                <p>Instantly share your information with people around you.</p>
            </div>
        </div>
    </div>
    <div class="carousel slide" id="tileCarousel">
        <div class="center">
            <div>
                <ol class="carousel-indicators">
                    <li data-target="#tileCarousel" data-slide-to="0" class="active first"></li>
                    <li data-target="#tileCarousel" data-slide-to="1"></li>
                    <li data-target="#tileCarousel" data-slide-to="2"></li>
                    <li data-target="#tileCarousel" data-slide-to="3"></li>
                    <li data-target="#tileCarousel" data-slide-to="4"></li>
                </ol>
            </div>
        </div>
        <div class="carousel-inner">
            <div class="active item" id="item-1"></div>
            <div class="item" id="item-2"></div>
            <div class="item" id="item-3"></div>
            <div class="item" id="item-4"></div>
            <div class="item" id="item-5"></div>
        </div>
    </div>
</div> -->

<div class="big_wrapper" id="why">
    <div class="wrapper">
        <div class="center">
            <h3>
                Business cards, Fliers, QR Code Melieu - THEY SUCK.<br><br> Introducing Blue Canary!
            </h3>
            <ul class="clearfix">
                <li class="feature1">
                    <h4>No more Business Cards.</h4>
                    <p>Relationships established with Business cards are never, we lose them, we forget who they are and why we talked to them. </p>
                </li>
                <li class="feature2">
                    <h4>No more fliers</h4>
                    <p>Currently works with iPhone 4S, iPhone 5, iPad Mini, iPad 3<sup>rd</sup> and 4<sup>th</sup> gen, and iPod
                        Touch 5<sup>th</sup> gen.  We are working to make Blue Canary Android Compatible! </p>
                </li>
                <li class="feature3">
                    <h4>No more QR codes</h4>
                    <p>Let's face it, holding up a phone and trying to get information is silly.</p>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="big_wrapper" id="our-app">
    <div class="wrapper clearfix">
        <div class="point_copy">
            <h3>
                Exchange information<br>seamlessly.
            </h3>
            <p>
                Blue Canary makes it easy to send and receive information to those around you.
            </p>
            <ul>
                <li>
                    <h4 class="more">1. Scan</h4>
                    <p>Use the app to instantly scan for canary's<br>within 150 feet.</p>
                </li>
                <li>
                    <h4 class="sharing">2. Browse</h4>
                    <p>Browse through people or<br> businesses you want to connect with.</p>
                </li>
                <li>
                    <h4 class="sound">3. Add</h4>
                    <p>Add people to your social networks instantly.<br>No need for business cards!</p>
                </li>
            </ul>
        </div>

        <div class="app">
            <img alt="App" src="http://d1ttvm38ivlpk0.cloudfront.net/assets/app-1ab40165b8256fbf38fd77e2b8241040.jpg"
                 title=""/>
            <div class="video_holder">
                <img src="images/image1BC.png" width="283" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></img>
            </div>
        </div>
    </div>
</div>
<div class="big_wrapper" id="community">
    <div class="wrapper">
        <h3>Building a community</h3>
        <p>Blue Canary is building a community around.  The more of you there are, the better the expeirnece!</p>
    </div>
</div>
<!-- <div class="big_wrapper" id="features">
    <div class="wrapper">
        <div class="center">
            <h3>
                Features Overview
            </h3>
            <ul class="clearfix">
                <li class="feature1">
                    <h4>No more Business Cards.</h4>
                    <p>With Blue Canary, you can avoid the business card mileui.  Blue Canary let's you scan for people within 100-150 feet around you.  Instantly connect with them through LinkedIn and Facebook. </p>
                </li>
                <li class="feature2">
                    <h4>iOS & working on Android Compatibility</h4>
                    <p>Currently works with iPhone 4S, iPhone 5, iPad Mini, iPad 3<sup>rd</sup> and 4<sup>th</sup> gen, and iPod
                        Touch 5<sup>th</sup> gen.  We are working to make Blue Canary Android Compatible! </p>
                </li>
                <li class="feature3">
                    <h4></h4>
                    <p>Nope, you never need to replace the batteries or even charge your Tiles.</p>
                </li>
                <li class="feature4">
                    <h4>Replace my Canary?</h4>
                    <p>Blue Canary uses a series of photovoltaic cells.  You will never have to charge Blue Canary again!</p>
                </li>
                <li class="feature5">
                    <h4>Now Hear this</h4>
                    <p>Tiles come with a built-in speaker so you can easily hear it in close range.</p>
                </li>
                <li class="feature6">
                    <h4>Right where you left it</h4>
                    <p>The Tile app saves the last GPS location it saw your Tile.</p>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<div class="big_wrapper" id="shipping">
    <div class="wrapper clearfix">
        <div class="ships">
            <h2>Launching Summer 2014</h2>
<!--             <p>You can be part of the first shipment. Reserve today.</p>
 -->        </div>
        <!--     <div class="preorder">
              <a href="/preorder/checkout"><span>Preorder your Tiles</span><span class="arrow"></span></a>
            </div> -->
    </div>
</div>
<div id="fb-root"></div>

<div class="footer">
    <div class="wrapper clearfix">
        <ul class="clearfix">
            <li>
                &copy; 2013 Blue Canary
            </li>
        </ul>
    </div>
</div>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1001882266/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script src="js/lib/lib.js"></script>
</body>
</html>